<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Registro de Patrimonio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/assets/index.css' %}">
</head>
<body>
    <div id="root"></div>
    <script type="module" src="{% static 'frontend/assets/index.js' %}"></script>
</body>
</html>